html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.right-align
{
    text-align: right;
}

.half-width
{
    width: 50%;
}

.category-list
{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
    margin-top: 10px;
    margin-right: 5px;
}